.info-panels-wrapper {
    height: 100vh;
    background-color: var(--theme-bg);
    color: var(--theme-color);
    font-family: var(--font-family);
}

.info-panels-layout-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.info-panels-content {
    flex: 1;
    overflow-y: auto;
    min-height: 0; /* Important for flex scrolling */
}

.info-panels-header-buttons {
    flex-shrink: 0; /* Prevent shrinking */
    z-index: 404;
}

.all-stops-selected-menu {
    background-color: rgb(53, 101, 248) !important;
    color: white !important;
}

.all-stops-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;
    gap: 1rem;
}

.all-stops-grid > div {
    border-radius: 1rem;
    background-color: var(--theme-bg-closest-stop);
    padding: 1rem;
}


.incoming-wrapper {
    transition: 200ms;
}

.incoming-wrapper:hover {
    background-color: rgb(95, 95, 192);
}