:root {
    --font-family: 'PP Neue Montreal', sans-serif;
}

[theme="dark"] {
    --theme-bg: rgb(53, 53, 53);
    --theme-color: rgb(203, 203, 203);
    --theme-color-lighter: rgb(200, 200, 200);
    --theme-extra: rgb(146, 146, 146);
    --theme-line-bg: rgb(99, 99, 99);
    --theme-stop-bus-name: rgb(105, 105, 105);
    --theme-stop-bus-time: rgb(127, 127, 127);
}

[theme="light"] {
    --theme-bg: white;
    --theme-color: black;
    --theme-color-lighter: gray;
    --theme-extra: dimgray;
    --theme-line-bg: rgb(240, 240, 240);
    --theme-stop-bus-name: rgb(60, 60, 60);
    --theme-stop-bus-time: rgb(105, 105, 105);
}

body {
    margin: 0;
    height: 100vh;
}

html {
    font-size: 62.5%;
}

html, body {
    overscroll-behavior-y: none;
}

.theme-modal {
    position: fixed;
    inset: 0;
    z-index: 402;
    background-color: var(--theme-bg);
    color: var(--theme-color);
    font-family: var(--font-family);
}

.theme-modal > .grid > img {
    width: 100%;
    border: 1px solid var(--theme-extra);
    cursor: pointer;
    /* object-fit: contain; */
}

.theme-modal-auto {
    font-size: 2rem;
    color: white;
    border-radius: 0.75rem;
    margin: 3rem;
    padding: 1.5rem;
    /* font-weight: bold; */
    border: 1px solid rgb(80, 80, 230);;
    background-color: rgb(144, 136, 234);
}

.theme-modal-selected {
    /* border: 3px solid blue; */
    box-shadow: 0 0 1.5rem var(--theme-color);
    background-color: rgb(61, 61, 196);
}

.theme-modal-confirm {
    background-color: rgb(64, 52, 205);
    margin: 3rem;
    padding: 1.5rem;
    font-size: 2rem;
    color: white;
    border-radius: 0.75rem;
    /* border: 1px solid rgb(119, 109, 230); */
    border: 1px solid rgb(80, 80, 230);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

#map {
    height: 100%;
}

.map-zoom-scroll-wrapper {
    position: fixed;
    right: 1rem;
    top: 0;
    z-index: 400;
    height: 100%;
    display: flex;
    align-items: center;
}

.zoom-scroll-bar {
    background-color: gray;
    height: 80%;
    width: 15px;
    opacity: 0.5;
    cursor: pointer;
}

.zoom-dot {
    width: 15px;
    height: 15px;
    background-color: white;
    border: 2px solid gray;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: grab;
    display: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.zoom-dot.active {
    display: block;
    cursor: grabbing;
}

.zoom-scroll-bar:hover .zoom-dot {
    display: block;
}

.bus-icon-outer {
    /* This class can be used to style the marker */
    background-color: red; /* Example color */
    border-radius: 50%; /* Make it circular */
    border-top-left-radius: 10%;
    border: 2px solid black; /* Optional: add a border */
    height: 27px;
    width: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bus-icon-inner {
    width: 13px;
    height: 13px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
}

.info-popup-wrapper, .route-panel-wrapper, .buses-panel-wrapper {
    width: 100%;
    position: fixed;
    /* left: 0; */
    /* right: 0; */
    z-index: 401;
}

.info-popup-wrapper {
    pointer-events: none; /* Needed since max height to allow tall panel on desktop. Can instead set height 100% on each parent elm in mq */
}

.bus-info-popup {
    display: none;
    font-family: var(--font-family);
    margin: 1rem;
    pointer-events: all;
}

.notif-popup {
    background-color: rgb(172, 53, 53);
    padding: 2rem 3rem;
    margin: 1rem;
    font-family: var(--font-family);
    font-size: 1.7rem;
    border-radius: 0.5rem;
    color: rgb(246, 246, 246);
    display: none;
}

.info-main {
    column-gap: 1rem;
    /* justify-content: center; */
    align-items: center;
}

.info-route {
    font-weight: 800;
    font-size: 3rem;
}

.info-stop-name {
    font-size: 2.5rem;
    color: var(--theme-color)
}

.info-campuses {
    font-size: 2.5rem;
}

.info-extra {
    font-size: 1.5rem;
    color: var(--theme-extra);
    line-height: 0.7;
}

.info-capacity {
    color: var(--theme-color);
}

.bus-info-main, .info-next-stops {
    background-color: var(--theme-bg);
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    color: var(--theme-color) /* in light theme this is already black by default */
}

.bus-stopped-for {
    background-color: var(--theme-bg);
    border-radius: 1rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color: #f62929;
    display: none;
}

.info-next-stops {
    max-height: 40vh;
    overflow-y: scroll;
    display: none;
}

.next-stops-grid {
    grid-template-columns: auto 1fr auto;
    column-gap: 2rem;
    row-gap: 1.5rem;
    align-items: center;
}

.next-stop-circle {
    width: 10px;
    height: 10px;
    background-color: rgb(162, 162, 162);
    border-radius: 50%;
    position: relative;
}

.next-stop-circle::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 4rem; /* Adjusts to your grid gap */
    background: var(--theme-line-bg);
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
}

.next-stop-circle::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 3rem; /* Adjusts to your grid gap */
    background: var(--theme-line-bg);
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
}

.next-stop-circle:first-child:before {
    display: none;
}

.next-stops-grid .next-stop-circle:nth-last-child(3)::after {
    display: none;
}

.next-stop-campus {
    font-size: 1.2rem;
    color: gray;
    font-weight: bold;
    line-height: 0.8;
}

.next-stop-name {
    font-size: 1.5rem;
}

.next-stop-eta {
    font-size: 1.6rem;
    /* color: rgb(57, 57, 176); */
    font-weight: bold;
}

.next-stop-time {
    font-size: 1.2rem;
    color: #656565;
}

.next-stops-text {
    color: gray;
    font-size: 1rem;
    font-weight: bold;
}

.bus-joined-service {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    color: gray;
}




.stop-info-popup {
    background-color: var(--theme-bg);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    font-family: var(--font-family);
    display: none;
    pointer-events: all;
    overflow-y: scroll;
    max-height: 40vh;
}


.info-stop-servicing {
    font-size: 1.5rem;
    font-weight: bold;
}

.no-buses, .closest-stop {
    color: white;
    background-color: black;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
}

.stop-info-buses-grid {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    column-gap: 0.5rem;
    margin: 1rem;
    margin-top: 0;
}

.stop-bus-route {
    font-size: 1.8rem;
    font-weight: bold;
}

.stop-bus-id {
    font-size: 1.5rem;
    color: var(--theme-stop-bus-name)
}

.stop-bus-eta {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--theme-color)
    /* text-align: right; */
}

.stop-bus-time {
    font-size: 1.5rem;
    color: var(--theme-stop-bus-time) /* #616161; */
}

.stop-info-avg-wait {
    font-size: 1.3rem;
    color: gray;
    margin: 0 1rem 1rem 1rem;
}



.route-panel {
    background-color: white;
    font-family: var(--font-family);
    padding: 1rem;
    border-radius: 1rem;
    height: 100vh;
}

.route-name {
    font-weight: bold;
    font-size: 2.5rem;
}

.route-campuses {
    font-size: 2rem;
}

.route-active-buses {
    font-size: 1.5rem;
    color: gray;
}

.route-bus-name {
    font-size: 1.7rem;
}

.route-bus-speed {
    font-size: 1.5rem;
    color: rgb(94, 94, 94);
}

.route-stops-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    row-gap: 3rem;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem;
    overflow-y: scroll;
    margin-bottom: 8rem;
}

.route-stop-name {
    font-size: 1.75rem;
}

.route-buses-for-stop {
    display: grid;
    grid-template-columns: auto auto 1fr;
    font-size: 1.5rem;
    column-gap: 1rem;
}



.buses-panel-wrapper {
    background-color: white;
    font-family: var(--font-family);
    /* padding: 1rem; */
    height: 100vh;
    display: none;
    overflow-y: scroll;
}

.buses-overview-grid {
    margin-top: 2rem;
    font-size: 2rem;
    grid-template-columns: auto 1fr 1fr;
    column-gap: 2rem;
}

.bus-overview-heading {
    text-decoration: underline;
}

.ridership-super-wrapper {
    display: none;
    margin-bottom: 5rem;
}

.ridership-title {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;
}

.ridership-chart-wrapper {
    margin: 1rem;
    /* margin-top: 2rem; */
}

.ridership-history-title {
    font-size: 2rem;
    margin-top: 3rem;
    text-decoration: underline;
}

.ridership-avg, .ridership-max {
    font-size: 1.5rem;
    color: gray;
}


.bottom {
    position: fixed;
    flex-direction: column;
    display: flex;
    bottom: 0;
    z-index: 401;
    padding: 0.5rem;
    padding-bottom: 0;
    /* row-gap: 1rem; */
    width: 100%;
    row-gap: 0.8rem;
    pointer-events: none;
    box-sizing: border-box;
}

.panout, .buses-btn, .centerme, .fly-closest-stop {
    background-color: var(--theme-bg);
    padding: 1.7rem;
    border-radius: 5rem;
    font-size: 2.5rem;
    width: min-content;
    color: var(--theme-color);
    display: flex;
    aspect-ratio: 1;
    pointer-events: all;
}

.panout > i, .buses-btn > i, .centerme > i, .fly-closest-stop > i {
    font-size: 2rem;
}

.panout {
    color: rgb(185, 185, 185);
    transition: color 0.2s ease;
}

.centerme-wrapper {
    display: none;
}

.centerme {
    height: min-content;
}

.centerme-bottom-right {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem
}

.fa-gear {
    padding: 1rem;
}

.route-selectors {
    display: flex;
    font-family: var(--font-family);
    font-weight: bold;
    column-gap: 0.5rem;
    user-select: none;
    width: min-content;
    overflow-x: scroll;
    touch-action: pan-x;
    padding-top: 1rem;
    margin-left: -1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    scrollbar-width: none;
    pointer-events: all;
    line-height: 1.6;
    margin-right: -0.5rem;
}

/* Hide scrollbar for WebKit browsers */
.route-selectors::-webkit-scrollbar {
    display: none;
}

.route-selector {
    font-size: 2rem;
    color: white;
    border-radius: 4rem;
    padding: 0.5rem 2rem;
    white-space: pre;
    /* pointer-events: none; */
}

.route-selector:last-child {
    margin-right: 2rem;
}

.settings-btn {
    background-color: black;
    padding: 0 !important;
    aspect-ratio: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.route-close {
    background-color: rgb(208, 77, 77);
    font-family: Arial;
    font-weight: bold;
    aspect-ratio: 1;
    margin: 1rem;
    color: white;
    border-radius: 50%;
    font-size: 2rem;
    display: none;
    pointer-events: all;
}

.info-speed-wrapper {
    line-height: 1;
    text-align: center;
}

.info-speed {
    font-size: 2rem;
}

.info-mph {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--theme-color-lighter);
}


.settings-panel {
    /* height: 100vh; */
    background-color: #f4f4f4;
    display: none;
    font-family: var(--font-family);
    padding: 2rem;
    z-index: 401;
    position: fixed;
    inset: 0;
    overflow-y: scroll;
}

.settings-main-heading {
    /* color: black; */
    font-size: 1.8rem;
    /* font-weight: bold; */
}

.settings-heading {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.2rem;
    /* font-weight: bold; */
    color: gray;
}

.settings-options {
    border-radius: 0.5rem;
    border: 1px solid rgb(185, 185, 185);
    font-size: 1.8rem;
    background-color: white;
    /* text-align: center; */
}

.settings-option {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(54, 54, 54);
}

.settings-selected {
    background-color: rgb(210, 210, 255);
    /* color: white; */
}

.settings-option:not(:first-child) {
    border-left: 1px solid rgb(185, 185, 185);
}

.settings-close > div, .buses-close {
    background-color: rgb(208, 77, 77);
    position: fixed;
    bottom: 0;
    right: 0;
    height: 4rem;
    width: 4rem;
    color: white;
    font-family: Arial;
    font-size: 2rem;
    border-radius: 50%;
    margin: 1rem;
    z-index: 401;
}

.buses-close {
    display: none;
}

.small-marker {
    height: 20px;
}

.medium-marker {
    height: 27px;
}

.big-marker {
    height: 35px;
    margin: 0.3rem;
}

.marker {
    border-radius: 50%;
    border-top-left-radius: 10%;
    background-color: red;
    border: 2px solid black; /* Optional: add a border */
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: rotate(90deg); */
}

.marker > div {
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
    aspect-ratio: 1;
}

.small-marker > div {
    height: 8px;    
}

.medium-marker > div {
    height: 13px;    
}

.big-marker > div {
    height: 19px;    
}

.settings-toggle {
    display: flex;
    align-items: center;
}

.toggle-input {
    display: none; /* Hide the default checkbox */
}

.toggle-label {
    cursor: pointer;
    width: 50px;
    height: 24px;
    background-color: #ccc;
    border-radius: 50px;
    position: relative;
    transition: background-color 0.3s;
}

.toggle-slider {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.toggle-input:checked + .toggle-label {
    background-color: #4caf50;
}

.toggle-input:checked + .toggle-label .toggle-slider {
    transform: translateX(26px); /* Move the slider when checked */
}

.settings-rubus {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 1rem;
    padding-top: 2rem;
    border-top: 2px solid rgb(214, 214, 214);
    column-gap: 0.5rem;
}

.settings-rubus-logo {
    background-image: url('../img/rubus-favicon.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.settings-rubus-attribution {
    font-size: 1.25rem;
}









.pulsate {
    animation: pulsate 1.5s infinite;
}

@keyframes pulsate {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}