@media (min-width: 992px) {
    .info-popup-wrapper {
        max-width: 30%;
        right: 0;
        height: 100vh;
        margin-top: 1rem;
        margin-right: 1rem;
        display: flex;
        justify-content: end;
    }

    .getting-location-popup {
        margin-top: 0;
    }

    .info-next-stops {
        max-height: 100%;
        margin-bottom: 1rem;
    }

    .route-selectors {
        flex-direction: column;
        position: fixed;
        top: 0;
        row-gap: 0.5rem;
        text-align: center;
    }

    .settings-btn {
        padding: 1rem 2rem !important;
        aspect-ratio: auto;
    }

    .route-selector:first-child {
        margin-right: 0; /* For settings */
    }

    .route-selector:last-child {
        margin-right: 0rem; /* For parking campus selector */
    }

    .route-selector[routename="fav"] {
        padding: 1rem !important;
        aspect-ratio: auto !important;
    }

    .route-selector.parking-campus-selector {
        aspect-ratio: auto !important;
    }

    .left-btns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0.8rem;
        margin-left: 1rem;
    }

    .left-btns > div {
        margin-bottom: 1rem;
        align-items: center;
        width: auto;
        justify-content: center;
    }

    .buses-panel-wrapper {
        height: auto;
        width: 33%;
        margin: 2rem;
        border-radius: 1rem;
    }

    .bus-info-popup {
        height: 100%;
    }

    .fa-gear {
        padding: 0.15rem;
    }

    .buses-panel-wrapper, .settings-panel {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE & Edge */
    }
    
    /* Hide scrollbar for Chrome, Safari, and Opera */
    .buses-panel-wrapper::-webkit-scrollbar, .settings-panel::-webkit-scrollbar {
        display: none;
    }

    .settings-panel {
        max-width: 25%;
        margin: 2rem;
        border-radius: 1rem;
    }

    .settings-close > div {
        left: 2rem;
        bottom: 2rem;
    }

    .settings-heading {
        user-select: none;
    }

    .theme-modal {
        flex-direction: row;
        align-items: center;
    }

    .theme-header {
        text-align: left !important;
        align-self: flex-start;
    }

    .theme-img {
        position: absolute;
        height: 20%;
        width: auto !important;
        margin-left: 3vh;
    }

    .theme-slider {
        flex-direction: column;
    }

    .theme-controls {
        width: fit-content;
    }

    .theme-option {
        font-size: 1.7rem;
    }

    .theme-body {
        flex-direction: row !important;
        align-items: center;
        justify-content: center;
    }

    .theme-preview {
        height: 90vh;
    }

    #theme-preview-img {
        max-height: 95%;
    }

    .theme-modal-confirm {
        align-self: center !important;
        padding: 0.5rem 8rem !important;
    }

    .info-top {
        flex-direction: column;
    }

    .top-fixed {
        margin-top: 0;
        width: auto;
    }

}
  