@media (min-width: 992px) {
    .info-popup-wrapper {
        max-width: 30%;
        right: 0;
        height: 100vh;
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .info-next-stops {
        max-height: 100%;
        margin-bottom: 4rem; /* Not sure why needed, look into .bus-info-popup 1rem marigin */
    }

    .route-selectors {
        flex-direction: column;
        position: fixed;
        top: 0;
        row-gap: 0.5rem;
        text-align: center;
    }

    .settings-btn {
        padding: 1rem 2rem !important;
        aspect-ratio: auto;
    }

    .route-selector:last-child {
        margin-right: 0; /* For settings */
    }

    .panout {
        margin-bottom: 1rem;
    }

    .buses-panel-wrapper {
        height: auto;
        width: 33%;
        margin: 2rem;
        border-radius: 1rem;
    }

    .bus-info-popup {
        height: 100%;
    }

    .fa-gear {
        padding: 0.15rem;
    }

    .buses-panel-wrapper {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE & Edge */
    }
    
    /* Hide scrollbar for Chrome, Safari, and Opera */
    .buses-panel-wrapper::-webkit-scrollbar {
        display: none;
    }

    .settings-heading {
        user-select: none;
    }



    .theme-modal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        align-items: center;
    }

    .theme-modal > .flex > .grid {
        column-gap: 3rem;
        margin-bottom: 0;
        margin-top: 3rem;
        grid-template-columns: repeat(2, auto) !important;
    }

    .theme-modal img {
        height: 70vh;
        /* object-fit: contain; */
        width: auto !important;
    }

    .theme-modal > .flex {
        margin-right: 8rem;
        align-items: center;
        height: 100%;
    }

    .theme-modal-auto-desktop {
        display: block;
        width: 50%;
        margin: 2rem 0 0 0;
    }

    .theme-modal-auto-mobile {
        display: none;
    }

    .theme-modal-confirm-desktop {
        display: block;
        position: unset;
        margin-top: 0;
        width: 50%;
        margin: 1.5rem 0 0 0;
    }

    .theme-modal-confirm-mobile {
        display: none;
    }
    
    
}
  